---
import Layout from "@/layouts/Layout.astro"

//import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
//import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Frontend - Manuel"
  description="Hire Manuel Fronted Developer"
>
  <main class="px-4">

  <SectionContainer class="py-16 md:pt-24">
    <Hero />
  </SectionContainer>

    <SectionContainer id="experiencia" class="py-16 md:pt-12">
      <TitleSection>
        <Briefcase class="size-12" />
        Work Experience
      </TitleSection>
      <Experience />
    </SectionContainer>
    
    <SectionContainer id="proyectos" class="py-16 md:pt-20">
      <TitleSection>
        <CodeIcon class="size-7" />
        Last Projects
      </TitleSection>
      <Projects />
    </SectionContainer>




    <!-- <SectionContainer id="sobre-mi"> -->
      <!-- <TitleSection> -->
        <!-- <ProfileCheck class="size-8" /> -->
        <!-- Sobre mí -->
      <!-- </TitleSection> -->
      <!-- <AboutMe /> -->
    <!-- </SectionContainer> -->
  </div>
  </main>
</Layout>
