---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Manuel Alejandro. Empecé en la
      programación con Javascript y Python, hace 3 años. <strong>Cuando comandaba un robot para Avidbots.</strong> 
      
    </p>

    <p>  
      Actualmente junto a Outlier estoy <strong
        >entrenando AI para las mejores compañias. <em>(OpenAI, Meta, Etc.)</em></strong
      >.
    </p>

    <p>
      Algunos de mis habilidades son: <strong
        >Typescript, React, Redux-tool-kit, Jest y Testing Library.</strong
      > También me estudio <strong> Java. </strong>
    </p>
 <p>
      Como desarrollador de AI: <strong
        >He creado los proyectos de mi sección "Proyectos".</strong> Ve a darles un vistazo. 
    </p>
    <p>
      Como de entrenador de AI: <strong
        >He trabajado para que las AI más conocidas proporcionen respuestas más humanas a los usuarios. <em class="italic">Por ejemplo ChatGPT4.0  y Gemini.</em></strong> 
    </p>
   
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

