---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
    date: "since November 2023",
    title: "Freelance Frontend Developer",
    company: "___",
    description:
      'I teach chatgpt how to code in Javascript and Typescript.',
    link: "https://www.linkedin.com/in/manuelpinzon/",
  },
  {
    date: "since May 2024",
    title: "Javascript/Typescript Coding AI trainer",
    company: "at Outlier",
    description:
      'I teach chatgpt how to code in Javascript and Typescript.',
    link: "https://www.linkedin.com/in/manuelpinzon/",
  },
  {
    date: "May 2023",
    title: "SQL trainee developer",
    company: "at Factor IT",
    description:
      "Realicé un proceso de formación trainee para administrar bases de datos SQL con la empresa Factor IT.",
      link: "https://www.linkedin.com/in/manuelpinzon/",
  },
  {
    date: "from June 2022 to December 2022",
    title: "CPG Developer",
    company: "at Avidbots",
    description:
      "Programación de robots para realizar limpieza de suelos automátizada utilizando Python y herramientas de edición gráfica.",
    link: "https://www.linkedin.com/in/manuelpinzon/",
  },

]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
