---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2024 - Actualmente...",
    title: "Code AI trainer",
    company: "Outlier",
    description:
      "Creo prompts y responses en español e inglés, basados en problemas de Javascript. Le enseño a los modelos a mejorar sus respuestas a los usuarios al buscar soluciones de código.",
    link: "https://www.linkedin.com/in/manuelpinzon/",
  },
  {
    date: "1 de Mayo del 2023 - 30 de Mayo del 2023",
    title: "SQL trainee Developer",
    company: "Factor IT",
    description:
      "Realicé un proceso de formación trainee para administrar bases de datos SQL con la empresa Factor IT.",
      link: "https://www.linkedin.com/in/manuelpinzon/",
  },
  {
    date: "2022",
    title: "CPG Developer",
    company: "Outlier",
    description:
      "Programación de robots para realizar limpieza de suelos automátizada utilizando Python y herramientas de edición gráfica.",
    link: "https://www.linkedin.com/in/manuelpinzon/",
  },
  {
    date: "2024 - Actualmente...",
    title: "Spanish language AI trainer",
    company: "Outlier",
    description:
      "Creo prompts y responses en español, basados en problemas cotidianos para la gente común. Le enseño a los modelos a mejorar sus respuestas a los usuarios al buscar soluciones a problemas de su día a día.",
    link: "https://www.linkedin.com/in/manuelpinzon/",
  },
  

]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
