---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [


  {
    date: "since May 2024",
    title: "React/Typescript Coding AI trainer",
    company: "at Outlier",
    description:
      'I teach chatgpt how to code in Typescript and React.',
    link: "https://www.linkedin.com/in/manuelpinzon/",
    experienceGoals: [
      "We increased TypeScript code reliability from 90% to 99.5% through comprehensive testing with Jest.", 
      "For the generated React code, we achieved significant improvements in Lighthouse metrics on Google Chrome (Version: 143.0.7499.40/.41): Performance increased from 80% to 97%, Accessibility improved from 90% to 100%, Best Practices increased from 90% to 95%, and SEO was optimized from 60% to 90%+",
      "We achieved that our clients' AIs use modern functional programming 100% of the time (such as the .map method for arrays) to provide solutions for Express, Nest, and React problems."
    ]
  },
  {
    date: "May 2023",
    title: "SQL trainee developer",
    company: "at Factor IT",
    description:
      "I completed a work and training process to manage SQL databases.",
    link: "https://www.linkedin.com/in/manuelpinzon/",
    experienceGoals: [
      "We optimized PL/SQL stored procedures and functions, reducing query execution time by 40% through implementation of efficient indexing strategies and code refactoring.",
       "We increased code reliability from 85% to 98% by implementing comprehensive unit testing with the utPLSQL framework and establishing code review practices for database objects.",
       "We improved database performance metrics by 35% through optimization of complex queries, proper use of cursors, and implementation of bulk operations (BULK COLLECT and FORALL) instead of row-by-row processing."
  ]  
},
  {
    date: "from June 2022 to December 2022",
    title: "CPG Developer",
    company: "at Avidbots",
    description:
      "Programming robots to perform automated floor cleaning using Python and graphic editing tools.",
    link: "https://www.linkedin.com/in/manuelpinzon/",
    experienceGoals: [
      "We reduced energy consumption for our cleaning robot's movement by 40% by implementing better Python code.",
      "We improved the cleaning time for all Walmart warehouses from an average of 30 minutes to an average of 10 minutes.",
      "We improved cleaning times for 300m2 surfaces from 25 minutes to 12 minutes."
    ]
  },
  

]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
