---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
    date: "since May 2023",
    title: "Typescript/React Coding AI trainer",
    company: "Outlier",
    description:
      'I teach chatgpt how to code in React and Typescript.',
    link: "https://www.linkedin.com/in/manuelpinzon/",
    experienceGoals: [
      "We increased TypeScript code reliability from 90% to 99.5% through comprehensive testing with Jest.", 
      "For the generated React code, we achieved significant improvements in Lighthouse metrics on Google Chrome (Version: 143.0.7499.40/.41): Performance increased from 80% to 97%, Accessibility improved from 90% to 100%, Best Practices increased from 90% to 95%, and SEO was optimized from 60% to 90%+"
    ]
  },

  {
    date: "since May 2023",
    title: "Typescript/React Coding AI trainer",
    company: "Outlier",
    description:
      'I teach chatgpt how to code in React and Typescript',
    link: "https://www.linkedin.com/in/manuelpinzon/",
    experienceGoals: [
      "We increased TypeScript code reliability from 90% to 99.5% through comprehensive testing with Jest.", 
      "For the generated React code, we achieved significant improvements in Lighthouse metrics on Google Chrome (Version: 143.0.7499.40/.41): Performance increased from 80% to 97%, Accessibility improved from 90% to 100%, Best Practices increased from 90% to 95%, and SEO was optimized from 60% to 90%+"
    ]
  },

  // {
//     date: "since May 2024",
    // title: "Javascript/React Coding AI trainer",
    // company: "at Outlier",
    // description:
      // 'I teach chatgpt how to code in Javascript and Typescript.',
    // link: "https://www.linkedin.com/in/manuelpinzon/",
  // },
  // {
    // date: "May 2023",
    // title: "SQL trainee developer",
    // company: "at Factor IT",
    // description:
      // "Realicé un proceso de formación trainee para administrar bases de datos SQL con la empresa Factor IT.",
      // link: "https://www.linkedin.com/in/manuelpinzon/",
  // },
  // {
    // date: "from June 2022 to December 2022",
    // title: "CPG Developer",
    // company: "at Avidbots",
    // description:
      // "Programación de robots para realizar limpieza de suelos automátizada utilizando Python y herramientas de edición gráfica.",
    // link: "https://www.linkedin.com/in/manuelpinzon/",
  // },
// 
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
